.App {
  font-family: sans-serif;
  text-align: center;
}

.list {
  display: flex;
  grid-template-columns: repeat(4, 23%);
  max-width: 800px;
  margin: 30px auto;
  gap: 20px;
  justify-content: center;
  color: white;
  font-weight: bold;
}

body {
  background-color: purple;
}
